
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>    
    <script src="~/scripts/jquery-2.2.2.min.js"></script>
    <script src="~/scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script>
        var hubProxy = $.connection.product;
        $.connection.hub.logging = true;
        $.connection.hub.start().done(function () {
            console.log("hub.start.done");
        }).fail(function (error) {
            console.log(error);
        });

        hubProxy.client.sayHello = function () {
            alert("App Start");
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="jumbotron glyphicon-align-center">
            <img src="~/Images/BoraBlog.png" class="center-block" />
        </div>
    </div>
</body>
</html>
